body {
    max-width: 800px;
    margin: auto;
    min-width: 800px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-weight: 1000;
    color: mediumseagreen;

}

.img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.cText {
    font-size: 12px;
}

.arc:hover {
    opacity: 0.7;
}

footer {
    background-color: lightgrey;
}