body {
    max-width: 800px;
    margin: auto;
    min-width: 800px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-weight: 1000;
    color: mediumseagreen;

}

img {
    width: 600px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

#image_caption {
    font-style: italic;
    width: 600px;
    margin: 0 auto;
}

footer {
    background-color: lightgrey;
}