body {
    max-width: 800px;
    margin: auto;
    min-width: 800px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-weight: 1000;
    color: mediumseagreen;

}

.img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.cText {
    font-size: 12px;
}

footer {
    background-color: lightgrey;
}


.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0.5px solid gray;
    border-radius: 8px;
    pointer-events: none;
}

